/* Overall Section */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Wrapper classes */
main.box {
	padding-bottom: 150px;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}
/* General Text */
h1{
	font-size: 2.5em;
}
h2{
	font-size: 1.75em;
}

/* Navbar bits */
.navbar{
	background: white;
	border-radius: 0 0 10px 10px;
    display: flex;
	margin-bottom: 50px;
    padding: 50px 10px 10px;
}
nav.banner{
	flex: 1;
	padding: 100px 20px 0;
    text-align: right;
}
/* VitiMins logo and text title */
.logo{
	display: inline-block;
	margin: 0;
}
#text_logo{
	font-size: 3em;
}
nav.banner ul{
    display: inline-block;
    list-style-type: none;
	margin-right: 0;
}
nav.banner ul li{
	display: inline;
	padding: 15px 10px;
}
nav.banner a{
	text-decoration: none;
}
/* Hamburger Menu */
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

/* Header */
.header{
    background: radial-gradient(#fff,#00a6d7);
    position: relative;
    min-height: 100vh;
}
.header.row{
    margin-top: 70px;
}

/* Footer */
.row{
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-around;
	margin: 0 auto;
	padding-top: 20px;
	text-align: center;
}
.footer{
    background: #000;
    color:#8a8a8a;
    font-size: 14px;
    padding: 0px 0px 20px;

    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer p{
    color:#8a8a8a;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px;
}
.copyright{
    text-align: center;
}

/* Products grid - current_products.php */
/* Categories on LHS */
.products_row {
    margin-left: 0px;
    margin-right: 0px;
	padding: 0 3px;
}
/* Clearfix (clear floats) */
.products_row::after {
  content: "";
  clear: both;
  display: table;
}
.products_column {
    float: left;
    width: 50%;
    padding: 5px;
}
/* All Products Table */
#current_products_table{
	border-bottom: 3px solid black;
}
#current_products_table th{
	border-bottom: 3px solid black;
	padding: 0 3px;
}
#current_products_table td{
	padding: 0 3px;
}

/* Products - admin_product_view.php */
.product_column {
    float: left;
    width: 33%;
    padding: 5px;
}

table.full_page_table {
    width: 100%;
    padding-bottom: 50px;
}

table.full_page_table tr td {
     text-align: center;
}

/* Media Query for Tablet */

@media only screen and (max-width: 800px){

    nav.banner{
		display: inline-block;
		padding: 0;
	}
	nav.banner ul{
        position: absolute;
        top: 180px;
        left: 0;
        background: #333;
		margin: 0 25px;
        width: 100%;
        overflow: auto;
        transition: max-height 0.5s;
    }
    nav.banner ul li{
        display: block;
        margin-right: 50px;
        margin-top: 1px;
		padding: 10px;
    }
    nav.banner ul li a{
        color: #fff;
    }
	nav.banner a: hover{
        color: #f0f0f0;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/* Media Query for Mobile */

@media only screen and (max-width: 600px){
    .row{
    text-align: center;
    }
    .col-2,.col-5{
        flex-basis: 100%;
    }
}
