*{
	box-sizing: border-box;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
}
.logo {
	color: #140136; /* Stupidly dark purple */
	font-size: 6em;
	padding: 0 15px;
	margin-right: 100%;
	max-height: 200px;
}
.navbar{
	background-color: #1780BD; /* Teal */
	display: inline-block;
	font-weight: bold;
	padding: 20px;
	width: 100%;
}
nav{
	flex: 1;
}
nav ul{
	display: inline-block;
	list-style-type: none;
	padding-left: 15px;
	text-align: center;
}

nav ul li a{
	color: #CC0000; /* Orange */
	display: inline-block;
	font-size: 1.5em;
	margin-right: 20px;
}

a{
	text-decoration: none;
	color: #555; /* Grey */
}

p{
	color: #140136; /* Stupidly dark purple */
	font-size: 1.25em;
}
h1 {
	margin: 0;
}
h2 {
	font-size: 2.5em;
}
h3 {
	font-weight: bold;
	font-size: 2em;
}
.container{
	max-width: 1500px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	width: auto;
}

.row{
	display: block;
	align-items: center;
	flex-wrap: wrap;
	padding-left: 20px;
	justify-content: space-around;
}

.col-2{
	flex-basis: 50%;
	min-width: 300px;
}

.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}

.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}

.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff; /* White */
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}

.btn:hover{
	background: #563434;
}

.header{
	background: radial-gradient(#fff,#00a6d7); /* Fade from white to light teal */
	position: relative;
  	min-height: 100vh;
}

.header .row{
	margin-top: 70px;
}

.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.col-5{
	flex-basis: 20%;
	padding: 10px;
	min-width: 150px;
	margin-bottom: 50px;
}

.col-5 img{
	width: 100%;
}

.footer{
	background: #000;
	color:#8a8a8a;
	font-size: 14px;
	padding: 0 0 20px 0;
	position: relative;
	bottom: -10px;
	text-align: center;
	width: 100%;
}

.footer p{
	color:#8a8a8a;
	padding: 20px;
}
.footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 5px;
	width: 95%;
}

.copyright{
	text-align: center;
}

.menu-icon{
	width: 28px;
	margin-left: 20px;
	display: none;
}

/* Styles used for vitimins_worker.php and associated files */
.products_row {
	display: block;
	margin-left: 0px;
	margin-right: 0px;
}
.product_navbar {
	display: inline-block;
	font-weight: normal;
	margin-right: 5%;
	padding-bottom: 20px;
}
.product_navbar hr {
	background-color: #140136; /* Stupidly dark purple */
	border: none;
	height: 3px;
	margin-bottom: 5px;
	width: 100%;	
}
.nav_banner {
	background-color: #F2F2F2; /* Light grey */
	border-radius: 10px;
	width: 100%;
}
/* Categories */
.product_titles {
	background-color: none;
	color: #1780BD;
	width: 100%;
}
.product_titles ul {
	padding-left: 0;
}
.product_titles li {
	display: block;
	padding: 5px 0;
	text-align: left;
}

/* Clearfix (clear floats) */
.products_row::after {
  content: "";
  clear: both;
  display: table;
}

/* admin_product_view.php columns */
.category_column {
	background-color: #1780BD; /* Teal */
	float: left;
	margin-left: 30px;
	padding: 20px;
	width: 33%;
}
.category_hr {
	border: none;
	background: #CC0000; /* Orange */
	height: 1px;
	margin: 5px;
	width: 95%;	
}
/* Individual products */
.product_column {
	float: right;
	width: 60%;
	padding: 5px;
}
.product_column h3 {
	padding-top: 30px;
}
.product_name {
	display: block;
}
.product_span {
	position: relative:
	margin-top: 50px;
}
.product_list ul {
	float: right;
}
.product_list li {
	display: block;
	padding: 5px;
	width: 100%;
}
.product_list_label {
	font-weight: bold;
}

/* current_products.php columns */
#current_products_h2 {
	color: #140136; /* Stupidly dark purple */
	font-size: 3em;
	margin-left: 20px;
}
.products_column {
	display: block;
	float: left;
	width: 50%;
	padding: 5px;
}
#all_products {
	padding-left: 20px;
}

/* Media Query */

@media only screen and (max-width: 800px){

	/*nav ul{
		position: absolute;
		top: 150px;
		left: 0;
		background: #140136;
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}

	nav ul li{
		display: block;
		padding: 1px;
		margin-right: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-radius: 3px;
	}
	
	nav ul li:hover {
		background-color: #CCB1FE;
	}*/

	.category_column {
		margin-left: 0;
	}
	
	.menu-icon{
		display: block;
		float: right;
		cursor: pointer;
	}
	
	#MenuItems ul li {
		margin: 1px;
	}
	#logoff {
		font-weight: bold;
		padding-top: 15px;
	}
	
	.logo {
		font-size: 4em;
		margin: 0 auto;
		text-align: center;
		width: auto;
	}
}

/* Media Query for Mobile */

@media only screen and (max-width: 600px){
	.row{
	text-align: center;
	}
	.col-2,.col-5{
		flex-basis: 100%;
	}
}
