*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}
nav{
	flex: 1;
	text-align: right;
}

nav ul{
	display: inline-block;
	list-style-type: none;
}

nav ul li{
	display: inline-block;
	margin-right: 20px;
}
	@@ -78,7 +78,9 @@ p{

.header{
	background: radial-gradient(#fff,#00a6d7);

}

.header .row{
	@@ -112,8 +114,13 @@ p{
	background: #000;
	color:#8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}
.footer p{
	color:#8a8a8a;
}
	@@ -134,12 +141,42 @@ p{
	display: none;
}


/* Media Query */

@media only screen and (max-width: 800px){

	nav ul{
		position: absolute;
		top: 70px;
		left: 0;
	@@ -148,18 +185,18 @@ p{
		overflow: hidden;
		transition: max-height 0.5s;
	}
	
	nav ul li{
		display: block;
		margin-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	nav ul li a{
		color: #fff;
	}
	
	.menu-icon{
		display: block;
		cursor: pointer;
	@@ -195,4 +232,4 @@ select:focus{
	.col-2,.col-5{
		flex-basis: 100%;
	}
}
